In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import Column,Float,Integer,String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [2]:
df_measures = pd.read_csv("output/clean_hawaii_measures.csv")
df_stations = pd.read_csv("output/clean_hawaii_stations.csv")

In [3]:
df_measures.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [4]:
df_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
#defining class for climate stations
class Measurements(Base):
    __tablename__ = "hawaii_measurements"
    
    id= Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Stations(Base):
    __tablename__ = 'hawaii_stations'
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [10]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

engine = create_engine("sqlite:///hawaii_climate.db")
conn = engine.connect()
Base.metadata.create_all(conn)

session = Session(bind=engine)

In [11]:
for index,row in df_stations.iterrows():
    insert_station = Stations(station = row['station'],
                              name = row['name'],
                             latitude = row['latitude'],
                             longitude = row['longitude'],
                             elevation = row['elevation'])
    session.add(insert_station)
    session.commit()

In [13]:
for index,row in df_measures.iterrows():
    insert_measures = Measurements(station = row['station'],
                              date = row['date'],
                             prcp = row['prcp'],
                             tobs = row['tobs'])
    session.add(insert_measures)
    session.commit()

In [17]:
station_list = session.query(Stations.station, Stations.name, Stations.latitude).all()
for i in station_list:
    print(i)

('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716)
('USC00513117', 'KANEOHE 838.1, HI US', 21.4234)
('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213)
('USC00517948', 'PEARL CITY, HI US', 21.3934)
('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992)
('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556)
('USC00519281', 'WAIHEE 837.5, HI US', 21.45167)
('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152)
('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331)

In [20]:
measurement_list = session.query(Measurements.station, Measurements.date, Measurements.prcp, Measurements.tobs).limit(20).all()
for i in measurement_list:
    print(i)

('USC00519397', '2010-01-01', 0.08, 65)
('USC00519397', '2010-01-02', 0.0, 63)
('USC00519397', '2010-01-03', 0.0, 74)
('USC00519397', '2010-01-04', 0.0, 76)
('USC00519397', '2010-01-07', 0.06, 70)
('USC00519397', '2010-01-08', 0.0, 64)
('USC00519397', '2010-01-09', 0.0, 68)
('USC00519397', '2010-01-10', 0.0, 73)
('USC00519397', '2010-01-11', 0.01, 64)
('USC00519397', '2010-01-12', 0.0, 61)
('USC00519397', '2010-01-14', 0.0, 66)
('USC00519397', '2010-01-15', 0.0, 65)
('USC00519397', '2010-01-16', 0.0, 68)
('USC00519397', '2010-01-17', 0.0, 64)
('USC00519397', '2010-01-18', 0.0, 72)
('USC00519397', '2010-01-19', 0.0, 66)
('USC00519397', '2010-01-20', 0.0, 66)
('USC00519397', '2010-01-21', 0.0, 69)
('USC00519397', '2010-01-22', 0.0, 67)
('USC00519397', '2010-01-23', 0.0, 67)